@model Models.User

@using Infrastructure

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn1000</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

	<style>
		div.container {
			margin-top: 20px;
		}

		span.required {
			color: red;
			font-family: Tahoma;
		}
	</style>

	<script src="~/Scripts/jquery-3.1.0.min.js"></script>
	<script src="~/Scripts/angular.min.js"></script>

	<script>
		(function () {

			angular.module("dtxLibrary", []).directive('ngCompare', function () {

				return ({

					restrict: 'A',
					require: 'ngModel',

					link: function (scope, element, attributes, control) {

						validate = function (scope, element, attributes, control) {

							if ((scope[attributes.ngModel] == null) || (scope[attributes.ngModel] == "")) {

								control.$setValidity("compare", true);

							}
							else {

								if (scope[attributes.ngModel] == scope[attributes.ngCompare]) {

									control.$setValidity("compare", true);

								}
								else {

									control.$setValidity("compare", false);

								}

							}

						};

						scope.$watch(attributes.ngModel, function () {

							validate(scope, element, attributes, control);

						});

						scope.$watch(attributes.ngCompare, function () {

							validate(scope, element, attributes, control);

						});

					},

				})

			});

			var varMainApplication =
				angular.module("mainApplication", ["dtxLibrary"]);

			var varMainController =
				function ($scope, $http) {

					$scope.Username = "DariushT";
					$scope.EmailAddress = "DariushT@GMail.com";

					//$scope.User =
					//	{ Username: "DariushT", EmailAddress: "DariushT@GMail.com" };

					$scope.login = function () {



					};

				};

			varMainApplication.controller("mainController", varMainController);

		}());

	</script>
</head>
<body>
	@{
		string strFormName = "mainForm";
	}

	<div class="container">

		<div data-ng-app="mainApplication" data-ng-controller="mainController">

			<form id="mainForm" name="mainForm" novalidate data-ng-submit="login()">

				<div class="form-horizontal">

					@Html.NgTextBoxFor(model => model.Username, formName: strFormName)

					@Html.NgTextBoxFor(model => model.Password, formName: strFormName)

					@Html.NgTextBoxFor(model => model.ConfirmPassword, formName: strFormName)

					@Html.NgTextBoxFor(model => model.EmailAddress, formName: strFormName)

					@Html.NgTextBoxFor(model => model.ConfirmEmailAddress, formName: strFormName)

					<div class="row form-group">
						<div class="col-sm-9 col-lg-offset-3">
							<button type="submit" class="btn btn-primary" data-ng-disabled="!mainForm.$valid">Login</button>
							<button type="reset" class="btn btn-default" data-ng-click="mainForm.$setPristine()">Reset</button>
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>
</body>
</html>
